* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Setting common colors throughout css*/
:root {
    --light: #cfffe5;
    --teal: #618985;
    --tuscany: #c3979f;
    --blue: #161b33;
    --purple: #2e294e;
    --text: helvetica, arial, sans-serif;
}

/*jSetrting variables for the base of the page*/
body {
    background-color: rgba(168, 174, 193, .8);
    color: var(--blue);
    font-family: var(--text);
    opacity: 1;
}

/*header start, polacing image*/
header {
    padding: 20px 35px;
    background-color: var(--purple);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url("../portfolio/images/bg_img.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color:var(--purple);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--purple);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 20px;
}

header nav ul li a:hover {
    background: var(--light);
    color: var(--purple);
    border-radius: 40px;
}
/*header END*/


.hero {
    background-image: url("../portfolio/images/bg_img.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
    height: 35vh;
    /* padding: 15%; */
    background-attachment: fixed;
    background-position: 70%;
}

 .hero-text {
    color: white;
    padding-right: 10px;
    padding-bottom: 20px;
    font-size: 20px;
 }

.heading-1 p {
    line-height: 1.7;
    color: var(--blue);
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    /* text-align: right; */
}

/*about me section*/

.about-container {
    display: grid;
    padding-top: 2%;
    padding-bottom: 2%;
    grid-template-columns: 20% 1fr 1fr 1fr;
    grid-template-rows: repeat(1, 1fr);
}

.about-title {
    text-align: right;
    font-size: 35px;
    border-right: 3px groove;
    padding-right: 50px;
    padding-left: 100px;
    grid-column: 1;
    grid-row: 1 /-1;
    width: 288px;
}

.img-container {
    display: flex;
    justify-content: center;
}

.about-img {
    width: auto;
    height: 300px;
    border-radius: 15px;
    grid-column: 2/3;
}

.about-text {
    display: flex;
    text-align: center; 
    padding-top: 0;
    grid-column: 3 / 4;
}

.skills {
    display: flex;
    grid-column: 4/5;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

/*Work Section*/
.work-grid-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.work-grid-container {
    display: grid;
    grid-template-columns: 20% 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 150px);
    font-size: 20px;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    padding-top: 20px;
    padding-right: 5%;
    position: relative;
}

.work-grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.work-title {
    text-align:  right;
    font-size: 35px;
    border-right: 3px groove;
    padding-right: 50px;
    padding-left: 100px;
    grid-column: 1;
    grid-row: 1;
}

.p1-img {
    grid-column: 2/4;
    grid-row: 1/3;
}

.p1-text{
    position: absolute;
    color: black;
    font-size: 30px;
    font-weight: bold;
    grid-column: 2/4;
    grid-row: 1/3;
    background-color: grey;
    bottom: 8px;
    right: 10px;
}

.p2-img {
    grid-column: 4/6;
    grid-row: 2/4;
}


.p2-text {
    position: absolute;
    color: black;
    font-size: 30px;
    font-weight: bold;
    grid-column: 4/6;
    grid-row: 2/4;
    background-color: grey;
    bottom: 8px;
    left: 10px;
}

.p3-img {
    grid-column: 5/6;
    grid-row: 1/2;
}

.placeholder-text1 {
    position: absolute;
    color: black;
    font-size: 20px;
    font-weight: bold;
    grid-column: 5/6;
    grid-row: 1/2;
    background-color: grey;
    bottom: 8px;
    left: 10px;
}


.p4-img {
    grid-column: 2/3;
    grid-row: 3/4;
}

.placeholder-text2 {
    position: absolute;
    color: black;
    font-size: 20px;
    font-weight: bold;
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: grey;
    bottom: 8px;
    left: 10px;
}

.p5-img {
     grid-column: 3/4;
     grid-row: 3/4;
}

.placeholder-text3 {
    position: absolute;
    color: black;
    font-size: 20px;
    font-weight: bold;
    grid-column: 3/4;
    grid-row: 3/4;
    background-color: grey;
    bottom: 8px;
    left: 10px;
}

.p6-img {
     grid-column: 4/5;
     grid-row: 1/2;
}

.placeholder-text4 {
    position: absolute;
    color: black;
    font-size: 20px;
    font-weight: bold;
    grid-column: 4/5;
    grid-row: 1/2;
    background-color: grey;
    bottom: 8px;
    left: 10px;
}



/*End Work Section*/

/*Contact Info*/
.contact-container {
    display: grid;
    grid-template-columns: 20% 1fr 1fr 1fr;
    grid-template-rows: repeat(1, 2fr);
    padding-right: 5%;
    margin-top: 30px;
}

.contact-title {
    text-align: right;
    font-size: 35px ;
    border-right: 3px groove;
    padding-right: 50px;
    padding-left: 100px;    
    grid-column: 1/2;
    grid-row: 1/2;
}


.number {
    display: flex;
    text-align: center;
    grid-column: 2/ 3;
    flex-direction: column;
    justify-content: center;
}

.email {
    display: flex;
    text-align: center;
    grid-column: 3/4;
    flex-direction: column;
    justify-content: center;
}

.github {
    display: flex;
    text-align: center;
    grid-column: 4/ 5;
    flex-direction: column;
    justify-content: center;
}

/*End of Contact*/

/* MEDIA QUETY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    /*this will be applied on any screen smaller than 980px*/
}

/*MEDIA QUESTY FOR TABLETS AND SMALLER*/
@media screen and (max-width: 768px) {
        /*this will be applied on any screen between 768 and 575px*/
     
}

/*MEDIA QUERY FOR MOBILE PHONES AND SMALLER*/
@media screen and (max-width: 575px) {
        /*this will be applied on any screen smaller than 575px*/
        
     
}
